*.o
*.ko
*.ko.unsigned
*.cmd
*.symvers
*.order
*.mod
*.mod.c
*.o.d
*.o.rc
*.o.ur-safe
build/
driver/Makefile
driver/driver_config.h
*.pyc
*.config
*.creator
*.creator.user*
*.files
*.includes
*.pro.user
*.ll
.vscode
.cache.mk
